.mgt5{
    margin-top:-5px;
}
.mgt10{
    margin-top:-10px;
}
.mgt15{
    margin-top:-15px;
}
.mgt20{
    margin-top:-20px;
}
.mgt25{
    margin-top:-25px;
}
.mgt30{
    margin-top:-30px;
}
.mgt35{
    margin-top:-35px;
}
.mgt40{
    margin-top:-40px;
}
.mgt45{
    margin-top:-45px;
}
.mgt50{
    margin-top:-50px;
}
.mgt55{
    margin-top:-55px;
}
.mgt60{
    margin-top:-60px;
}
.mgt65{
    margin-top:-65px;
}
.mgt70{
    margin-top:-70px;
}
.mgt75{
    margin-top:-75px;
}
.mgt80{
    margin-top:-80px;
}
.mgt85{
    margin-top:-85px;
}
.mgt90{
    margin-top:-90px;
}
.mgt95{
    margin-top:-95px;
}
.mgt110{
    margin-top:-110px;
}
.mgt150{
    margin-top:-150px;
}